 /*--------------------------
        BASE
----------------------------*/
@import 'partials/_config.scss';
@import 'partials/_base.scss';
@import 'partials/_module.scss';

/* --------------------------
        LAYOUT
----------------------------*/
// Modules will scale with document
.page-header {
    font-size: 1rem;
}

.hero-area {
    font-size: 1rem;
}

.form {
    font-size: 1rem;
}

/* --------------------------
    HEADER
----------------------------*/
// header for home
.page-header-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    padding: 1rem 0;
    background: $ex-light-grey;

    // navigation menu

    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .nav-item {
        padding: 0 1rem;
    }

    .nav-item a {
        font-weight: 500;
        font-family: $heading-font;
        text-transform: uppercase;

        &.active:after {
            content: '';
            display: block;
            width: 100%;
            height: .2rem;
            background: $main-colour;
        }
    }

}

// All pre loading event finished
.preload-finished {
    .page-header-home {
        z-index: 999999;
    }
}

// header for other pages
.page-header-logo {
    width: 80%;
}

.pre-loader-sec {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $main-colour;
    z-index: 99999;

    transform: translateX(0);
    transition: all .7s 1s cubic-bezier(.645, .045, .355, 1);

    &.pre-loader-left {
        left: 0;
    }

    &.pre-loader-right {
        right: 0;
    }
}

.particles-container {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;

    transition: opacity .25s;
}

/*---------------------------
    HERO SECTION
---------------------------*/
.hero {
    min-height: 100vh;
    
    .hero-inner {
        margin-top: 12rem;
        position: relative;
        z-index: 999999;
    }

    // headline
    .page-header-headline {
        font-size: 2em;
        font-family: 'Notera Personal Use Only';
        margin-top: 1rem;
        opacity: 0;

        color: $white;
        transition: opacity 1s, color .5s;
    }

    .svg-logo-wrapper {
        min-height: 8rem;
    }

    #svg-logo {
        * {
            fill: $white;
            stroke: $white;
            fill-opacity: 0;
            stroke-width: 2;

            transition: fill-opacity 1s, fill .5s, stroke .5s;

        }
    }

    // fill colour
    &.filled {

        .page-header-headline {
            color: $black;
        }

        #svg-logo {
            * {
                fill: $black;
                stroke: $black;
            }
        }

        .particles-container {
            opacity: 1;
        }
    }

    // when svg animation finish
    &.svg-finished {

        .pre-loader-left {
            transform: translateX(-100%);
        }

        .pre-loader-right {
            transform: translateX(100%);
        }

        .page-header-headline {
            opacity: 1;
        }

         #svg-logo {
            * {
                fill-opacity: 1 !important;
            }
            
        }
    }
    
}

/*---------------------------
    HOME WORK SECTION
---------------------------*/
.home-work {

    .home-work-li {
        margin-bottom: 10rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .home-work-li-heading {
        font-size: 1.5em;
        font-family: $heading-font;
        text-transform: uppercase;
    }

    .home-work-li-para {
        font-size: 1em;
        margin-top: 2rem;
    }

}


/*---------------------------
    ABOUT PAGE
---------------------------*/
@import 'about.scss';


/*---------------------------
    FOOTER SECTION
---------------------------*/
.page-footer {
    padding: 2rem;
    position: relative;

}

/*---------------------------
    MODULES
---------------------------*/
.btn-cta {
    margin-top: 3rem;
}

.btn-contact {
    display: inline-block;
    margin: 2rem;
    background: $black;

    @include hover(background);
}


/* --------------------------
        STATES
----------------------------*/





/*---------------------------
    ANIMATION
---------------------------*/
@import 'partials/_animation.scss';

/* --------------------------
    Print
----------------------------*/
@import 'partials/_print.scss';



